*.pyc
__pycache__

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
sdist
develop-eggs
.installed.cfg

# Testing related.
.cache
.pytest_cache
.tox

# Coverage related.
.coverage
htmlcov

# Vagrant
.vagrant

# Editor files
.idea
